*.pdb
*.lua
*.exe
*.ignore

sucata
sucata-player
sucata.exe

.DS_Store

sokol/**/*.dll
sokol/**/*.exp
sokol/**/*.pdb
sokol/**/*.lib
sokol/**/*.so
sokol/**/*.dylib
sokol/**/*.a

*.dSYM/**/*

temp/*
teste.*
__MACOSX/*
temp.zip
build/*
dev.cmd
dev.sh
release/*